* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  background-color: #0f1021; /* #111 */
}
.salute {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.saluteTextContainer {
  flex: 3;
}
.saluteText {
  padding-left: 40px;
  color: #465374; /* #333 ,#262737*/
  font-size: 60vw;
  cursor: default;
}
.saluteImgContainer {
  flex: 1;
}
.saluteImg {
  width: 100%;
}
.nameContainer {
  height: 100vh;
  background-color: #ffa500;
}
.name {
  font-size: 20vw;
  color: #465374;
  cursor: default;
  text-align: center;
  line-height: 100vh;
}
.jobTitleContainer {
  height: 100vh;
}
.front {
  background: url("./img/bg1.png");
  color: #ffa500 !important;
}
.dev {
  background: #ffa500 url("./img/bg2.png");
  coi
}
.jobTitle {
  font-size: 10vw;
  color: #465374;
  /* color: #262737; 465374 */
  line-height: 100vh;
  cursor: default;
}
/* .jobTitle {
  font-size: 10vw;
  color: #290311;
  line-height: 100vh;
  cursor: default;
} */
.projects {
  display: flex;
  flex-direction: column;
  gap: 30vh;
  padding: 0px 100px;
}
.projectsTitle {
  font-size: 10vw;
  color: #465374;
}
.project {
  display: flex;
  align-items: center;
  gap: 100px;
  height: 100vh;
  overflow: hidden;
}
.project:nth-child(2n) {
  flex-direction: row-reverse;
}
.phone {
  flex: 1;
  width: 300px;
  height: 600px;
  position: relative;
}
.phoneScreen {
  width: 264px;
  height: 567px;
  background-color: blue;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
}
.phoneScreen::-webkit-scrollbar {
  display: none;
}
.phoneAApp {
  width: 100%;
}
.projectDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.projectTitle {
  font-size: 6vw;
  color: #747e97;
}
.ProjectDecs {
  font-size: 20px;
  color: #747e97;
  text-align: justify;
  line-height: 40px;
}
.projectButton {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #747e97;
  color: #747e97;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.projectButton::after {
  content: "View Demo";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -120;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #747e97;
  color: #0f1021;
}
.projectButton:hover.projectButton::after {
  transform: translateX(107%);
}
.laptop {
  width: 600px;
  height: 379px;
  flex: 1;
  position: relative;
}
.laptopScreen {
  width: 451px;
  height: 285px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: scroll;
  background-color: aqua;
}
.laptopApp {
  width: 100%;
}
.laptopScreen::-webkit-scrollbar {
  display: none;
}
.ipad {
  width: 770px;
  height: 541px;
  flex: 1;
  position: relative;
}
.ipadScreen {
  width: 695px;
  height: 485px;
  position: absolute;
  top: 30px;
  left: 30px;
  overflow: scroll;
  background-color: aqua;
}
.ipadApp {
  width: 100%;
}
.laptopScreen::-webkit-scrollbar {
  display: none;
}

.githubContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.githubTitle {
  margin-top: 40px;
  font-size: 100px;
  color: #465374;
  display: flex;
  align-items: center;
  justify-content: center;
}
.githubChart {
  width: 850px;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.box {
  width: 15px;
  height: 15px;
  background-color: #171c25;
  border-radius: 2px;
  cursor: pointer;
  transition: 3s all ease;
}

.active:nth-child(4n) {
  background-color: #195b2c;
}

.githubChart:hover .active:nth-child(2n + 1) {
  background-color: #195b2c;
}
.githubChart:hover .active:nth-child(2n) {
  background-color: #063f24;
}
.githubSm {
  display: none;
}
@media screen and (max-width: 1024px) {
  .projects {
    padding: 0 10px;
    text-align: center;
  }

  .project {
    flex-direction: column;
    height: max-content;
  }
  .project:nth-child(2n) {
    flex-direction: column;
  }

  .phone,
  .laptop .ipad {
    transform: none !important;
  }

  .githubChart {
    display: none;
  }

  .githubTitle {
    text-align: center;
    font-size: 10vw;
  }

  .githubSm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #555;
    font-size: 30px;
    text-align: center;
  }
}
